@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(fonts/montserrat-regular-webfont.woff2);
}
@font-face {
    font-family: 'MontserratBold';
    font-weight: bold;
    src: url(fonts/montserrat-bold-webfont.woff2);
}
@font-face {
    font-family: 'MontserratItalic';
    font-style: italic;
    src: url(fonts/montserratalternates-italic-webfont.woff2);
}
:root {
    --color-text-main: #3B3938;
    --color-background-main: #FAF2ED;
    --color-accent-one: #6F2A09;
    --color-accent-two: #0468BF;
    --color-accent-three: #021F59;
    --color-accent-four: #BD450D;
    --color-accent-five: #0433BF;
    --color-accent-six: #022873;
}
html {
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body {
    margin: 30px;
}
h1, h2, h3 {
    font-family: MontserratBold, Montserrat, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 350%;
    text-align: center;

}
h2 {
    font-size: 180%;
}
h3 {
    margin: 40px 0 12px 0;
}
p, li {
    font-size: 100%;
    letter-spacing: .55px;
    line-height: 25px;
}
a:link {
    color: var(--color-accent-two);
}
a:visited {
    color: var(--color-accent-six);
}

/* HEADER, NAVIGATION */
header {
    margin: 50px 0 60px 0;
}
header h1 {
    margin: 0 0 20px 0;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    list-style-type: none;  
}
nav a:link, nav a:visited {
    font-size: 115%;
    padding: 12px 25vw;
    border: 1.5px solid #3B3938;
    border-radius: 3px;
    color: #3B3938;
}
nav li{
    margin: 18px;
}
/* ^ HEADER, NAVIGATION */

/* IMG WITH TEXT OVER */
h2.absolute {
    position: absolute;
    right: 30px;
    top: 530px;
}
h2.absolutehigh {
    position: absolute;
    right: 30px;
    top: 445px; 
}
/* IMG WITH TEXT OVER */

/* RESUME */
p.resumename {
    font-size: 150%;
}
p.resume, p.resumeitalic {
    margin: 0px 0 8px 0;
}
p.resumeitalic, p.italic {
    font-family: MontserratItalic, Montserrat, Arial, Helvetica, sans-serif;
}
ul.resume li {
    margin: 0 0 12px 0;
}
/* ^ RESUME */

/* PROJECTS */
div.projects {
    margin: 30px 0 40px 0;
}
div.projects p {
    /* font-family: MontserratBold, Montserrat, Arial, Helvetica, sans-serif; */
    font-size: 120%;
    margin: 10px 0 0 0;
    /* position: absolute;
    right: 30px;
    top: 495px; */
}   
/* ^ PROJECTS */

/* SKETCHBOOK */
figure.imagecollection {
    display:flex;
    flex-direction: column;    
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center    
}
figure.imagecollection p {
    margin: 6px  0 0 0;
    text-align: center;
}
figure.imagecollection img {
    margin: 40px 0 0 0;
}
.boldproject {
    font-family: MontserratBold, Montserrat, Arial, Helvetica, sans-serif;
    font-size: 120%;
}
/* ^ SKETCHBOOK */

/* INDIVIDUAL PROJECT */
figure.indvproject img {
    margin: 0 0 15px 0;
}
figure.indvproject p {
    margin: 0 0 4px 0;
}
figure.introparagraph {
    margin: 50px 0 50px 0;
}
/* ^ INDIVIDUAL PROJECT */

footer p {
    margin: 80px 0 0 0;
    font-size: 80%;
    text-align: right;
}