@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    src: url(fonts/montserrat-regular-webfont.woff2);
}
@font-face {
    font-family: 'MontserratBold';
    font-style: bold;
    src: url(fonts/montserrat-bold-webfont.woff2);
}
@font-face {
    font-family: 'MontserratItalic';
    font-style: italic;
    src: url(fonts/montserratalternates-italic-webfont.woff2);
}

:root {
    --color-text-main: #3B3938;
    --color-background-main: #FAF2ED;
}

html {
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
    margin: 30px;
}

h1, h2 {
    font-family: MontserratBold, Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 300%;
    text-align: center;
}

h2 {
    font-size: 180%;
}

p {
    font-size: 100%;
    letter-spacing: .55px;
    line-height: 25px;
}

/* HEADER, NAVIGATION */
header {
    margin: 60px 0 65px 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    list-style-type: none;  
}

nav a {
    font-size: 115%;
    padding: 12px;
    border: 1.5px solid #3B3938;
    border-radius: 3px;
}
/* ^ HEADER, NAVIGATION */

/* HOME IMG WITH TEXT OVER */
h2.absolute {
    position: absolute;
    right: 30px;
    top: 390px;
}

footer p {
    font-size: 60%;
    text-align: right;
}